<p>home works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Angular Website</title>
  <base href="/">
</head>

<body>
  <!-- Navbar -->
  <header>
    <nav>
        <li><app-navbar></app-navbar></li>
    </nav>
  </header>

  <!-- Main content -->
  <div>
    <!-- Landing Page Component -->
    <app-landing-page></app-landing-page>
  </div>

  <!-- Contact Page Component -->
  <section>
    <app-contact-page></app-contact-page>
  </section>

  <!-- Product Page Component -->
  <section>
    <app-product-page></app-product-page>
  </section>

  <!-- Terms of Service Page Component -->
  <section>
    <app-terms-of-service-page></app-terms-of-service-page>
  </section>

  <!-- Footer -->
  <footer>
    <app-footer></app-footer>
  </footer>

  <!-- Other scripts and stylesheets -->
</body>

</html>