<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda</title>
</head>
<body>
  <header>
    <nav>
      <!-- Asegúrate de que el componente "app-navbar" esté declarado en algún módulo y correctamente importado -->
      <app-navbar></app-navbar>
    </nav>
  </header>
  <section>
    <!-- Asegúrate de que el componente "app-cart" esté declarado en algún módulo y correctamente importado -->
    <app-cart></app-cart>
  </section>
  <section>
    <!-- Asegúrate de que el componente "app-product-list" esté declarado en algún módulo y correctamente importado -->
    <app-product-list></app-product-list>
  </section>
</body>
</html>
